# just build pls work plsplsplsplspls
name: Linux build

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3

    - name: Chmod just binary
      run: chmod +x .github/just

    - name: Build
      # Build your program with the given configuration
      run: ./.github/just build
